
TermProject/.vs/TermProject/config/applicationhost.config
TermProject/.vs/TermProject/config/applicationhost.config
TermProject/.vs/TermProject/v16/.suo
*.config
TermProject/.vs/TermProject/config/applicationhost.config
*.pdb
